ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 25px;
  padding-inline-start: 0px;
  }

  .list-inline li {
    list-style: none;
    margin-inline: 5px;
    display: inline-block;
    text-align: center;
  }

  .link i {
    font-size: 30px;
    color: white;
    transition: all 0.3s;
  }

  .link i:hover {
    color: lightsalmon;
    transform: scale(1.2);
  }
