.container h1 {
  color: white;
  font-size: 32px;
}
.container p {
  color: lightgrey;
  padding-bottom: 20px;
  font-size: 20px;
}
.container-footer {
  background-color: darkslategrey;
  height: 150px;
  display: flex;
  flex-direction: column;
}
